{% extends "menu.html" %}
{% load staticfiles %}
{% block content %}



<body>
<table border="0" align="center" cellpadding="0" cellspacing="0">
  <tr height="40px">
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="270"> <button type="button" style="font-size: 18px; width: 350px; height: 50px"  class="btn btn-default" aria-label="Left Align" onclick=" window.location.href='{% url 'reporteproducto' %}' " >
        <span  class="glyphicon glyphicon-hdd" aria-hidden="true" > </span>  REPORTE PRODUCTO
    </button></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><button type="button" style="font-size: 18px; width: 350px; height: 50px"  class="btn btn-default" aria-label="Left Align" onclick=" window.location.href='{% url 'reporteorden' %}' " >
        <span class="glyphicon glyphicon-cog" aria-hidden="true" > </span>  REPORTE ORDEN DE TRABAJO
    </button></td></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>

  <tr>
    <td>&nbsp;</td>
  </tr>

</table>





{% endblock content %}