
{% extends "menu.html" %}
{% load staticfiles %}
{% block content %}


  <h4 align="center" ><font color="black" face="Arial" size=4> <b>REPORTE PRODUCTOS </b></font>  </h4>

    <table class="table table-bordered">
    <thead>
        <tr>
            <th>Proveedor</th>
            <th>Categoria</th>
            <th>Nombre</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Stock Act</th>
            <th>Stock M</th>
            <th>Precio Pro</th>
            <th>Precio Venta</th>

        </tr>
    </thead>
    <tbody>
        {% for item in c %}
            <tr class="active">
                        <td  height="40" >{{ item.prov_cedula}}</td>
                        <td  height="40" >{{ item.cat_id }}</td>
                        <td  height="40" >{{ item.pro_nombre }}</td>
                        <td  height="40" >{{ item.pro_modelo }}</td>
                        <td  height="40" >{{ item.pro_marca }}</td>
                        <td  height="40" >{{ item.pro_stocka }}</td>
                        <td  height="40" >{{ item.pro_stockm }}</td>
                        <td  height="40" >{{ item.pro_precio }}</td>
                        <td  height="40" >{{ item.pro_preciov }}</td>

            </tr>
        {% endfor %}
    </tbody>
</table>
    <table width="1350" border="0">
     <tr  style="width: 1000px" class="active">
     <td  align="center" class="active">
    <a  href="{% url 'generar_pdf' %}" target="_blank">
       <button type="button" style="font-size: 16px; width: 180px; height: 35px"  class="btn btn-default" aria-label="Left Align" value="Imprimir" >
        <span class="glyphicon glyphicon-file" aria-hidden="true" > </span> <b> IMPRIMIR </b>
    </button>
    </a>
     </td>
    </tr>
    </table>


{% endblock content %}